@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    font-family: Roboto Condensed !important;
}
.textfield {
    border-radius: 8px;
    border: none;
    padding: 2px 5px 2px 5px;
}

#edit-container {
    background-color: rgba(255, 115, 0, 0.2)
}

#add-container {
    background-color: rgba(0, 255, 0, 0.2)
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    border: none;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.noti-box {
    display: none; 
    position: fixed; 
    z-index: 10;
    top: 30px;
    width: 25%;
    position: fixed;
    left: 50%;
    margin-left: -12.5%;
    background-color: rgba(255, 0, 0, 0.5);
}

.noti-content {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.noti-content p {
    margin: 0px;
}

/* The Image Modal (background) */
.image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.image-modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    border: none;
}

/* The help Modal (background) */
.help-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.help-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    border: none;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}