@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    font-family: Roboto Condensed !important;
}
.textfield {
    border-radius: 8px;
    border: none;
    padding: 2px 5px 2px 5px;
}

#edit-container {
    background-color: rgba(255, 115, 0, 0.2)
}

#add-container {
    background-color: rgba(0, 255, 0, 0.2)
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    border: none;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.noti-box {
    display: none; 
    position: fixed; 
    z-index: 10;
    top: 30px;
    width: 25%;
    position: fixed;
    left: 50%;
    margin-left: -12.5%;
    background-color: rgba(255, 0, 0, 0.5);
}

.noti-content {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.noti-content p {
    margin: 0px;
}

/* The Image Modal (background) */
.image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.image-modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    border: none;
}

/* The help Modal (background) */
.help-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.help-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    border: none;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#postContainer {
    align-content: center;
    text-align: center;
}
.postDiv {
    text-align: left !important;
    margin: 20px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    display: inline-block;
    font-family: Roboto Condensed;
    word-wrap: break-word !important;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    transition: transform .2s;

}

.postDiv xmp {
    word-wrap: break-word !important;
    white-space:normal;
    font-family: Roboto Condensed;
}
.postDiv img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 10px;
}

.postHeader {
    display: flex;
    flex-flow: row;
    width: 80%;
}
@media only screen and (max-width: 600px) {
    .postDiv {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .postDiv:hover {
        transform: scale(1.05);
    }
}

#profile-container {
    align-content: center;
    text-align: center;
}

.profile-card {
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    background-color: rgba(255, 115, 0, 0.2);
}

.profile-image {
    border-radius: 12px;
    width: 100px;
}

.profile-edit-button {
    cursor: pointer;
}

.profile-edit-button img{
    width: 25px;
}
.card-item {
    margin-bottom: 20px;
}
.like-container {
    display: flex;
    flex-flow: row;
}
.like-button {
    transition: transform .2s;
    text-align: center;
    border-radius: 100px;
}

.like-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#loader {
    display: none;
    margin: auto;
}